
/* Container */
.agent-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}

.MuiTableCell-head {
  color: #303972 !important;
  padding: 16px;
  font-weight: normal !important;
  font-size: 15px !important;
}
.nom-column {
  font-family: "Poppin", sans-serif;
  text-align: left !important;
}
.service-column,
.agents-column {
  color: #303972 !important;
  font-weight: normal !important;
}
/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top-bar h2 {
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  color: #4C4541;
}

/* Admin Info */
.admin-info {
  display: flex;
  align-items: center;
  position: relative;
}

.admin-details {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.admin-role {
  font-size: 0.8em;
  color: #999;
}
.icon-button {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-button img {
  width: 24px;
  height: 24px;
}

.icon-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.icon-button:hover::before {
  width: 30px;
  height: 30px;
}

.admin-name {
  margin-left: 10px;
  font-size: 0.9em;
  color: #666;
}

.admin-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
}

/* Search and Filter Section */
.search-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex-grow: 1;
  margin-right: 20px;
}

.search-bar .MuiOutlinedInput-root {
  border-radius: 20px;
}

.search-icon {
  margin-right: 10px;
}

.filter-and-add {
  display: flex;
  align-items: center;
}

.filter-btn {
  margin-right: 10px !important;
  border-color: #1e5245 !important;
  color: #1e5245 !important;
  text-transform: none !important;
  border-radius: 20px !important;
}

.arrow-down {
  font-size: 0.8em;
  margin-left: 5px;
}

.add-agent-btn {
  background-color: #1e5245 !important;
  border-radius: 20px !important;
  text-transform: none !important;
  padding: 6px 16px !important;
}

.add-agent-btn span {
  margin-right: 5px;
}

/* Agent Table */
.agent-table {
  margin-bottom: 20px;
  border-radius: 20px !important;
}

.MuiTableCell-root {
  color: #303972 !important;
  padding: 16px;
  font-weight: bold !important;
}

.MuiTableHead-root {
  background-color: white;
}

.MuiTableBody-root .MuiTableRow-root {
  transition: background-color 0.3s;
}

.MuiTableBody-root .MuiTableRow-root:hover {
  background-color: white;
}

.MuiCheckbox-root {
  color: #2D3E50;
}
.MuiCheckbox-root.Mui-checked {
  color: #224A39 !important; /* Set your desired color here */
}

.MuiIconButton-root {
  color: #2D3E50;
}

.agent-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #303972;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-right: 10px;
}

.grade {
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 1em;
  color : white;
}

.grade.viia {
  background-color: #fce8e8;
  color: #e11900;
}

.grade.viib {
  background-color: #fff3e0;
  color: #ff9800;
}

.grade.viic {
  background-color: #e8f5e9;
  color: #4caf50;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 5px 12px;
  border-radius: 50%;
  cursor: pointer;
  color: #7a6eaa; /* Light purple color for default state */
  background-color: #f9fafb; /* Background color for default state */
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.pagination span.active {
  background-color: #1e5245;
  color: white;
}

.pagination span:hover:not(.active) {
  background-color: #e0e0e0; /* Light grey background on hover */
}

.agent-code {
  color: #224A39 !important;
}

.agent-service, .agent-post {
  font-weight: normal !important;
}

.agent-date {
  color: rgba(48, 57, 114, 0.5) !important;
  font-weight: normal !important;
}


.nom-column-header,
.nom-column-cell {
  text-align: left !important;
}

.font-size{
  font-size: 15px !important;
}

