.sidebar {
    background-color: #2F4F41;
    color: white;
    height: 100vh;
    padding-top: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start */
    overflow-y: auto;
    z-index: 1000;
    width: 15rem; /* Fixed width for consistency */
    min-width: 15rem; /* Ensure the sidebar has a minimum width */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.logo {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.logo img {
    max-width: 80%;
    height: auto;
}

.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure menu items take up full width */
    padding-top: 2rem; /* Add space from the top for the logo */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Make sure the menu takes up the full width of the sidebar */
}

.menu li {
    width: 100%; /* Ensure each item takes up the full width */
    margin: 0.5rem 0;
}

.menu-item {
    color: #F5F5F5;
    text-decoration: none;
    padding: 0.625rem 2rem;
    display: flex;
    align-items: center;
    border-radius: 25px 0 0 25px;
    font-size: 1.1rem;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap; /* Prevent text from wrapping */
}

.menu-item:hover,
.menu-item.active {
    background-color: #F5F5F5;
    color: #2c3e50;
}

.menu-icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
    background-color: #2F4F41;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

.footer {
    text-align: center;
    width: 100%;
    padding-bottom: 1.25rem;
}

/* For smaller screens */
@media (max-width: 1300px) {
    .sidebar {
        width: 12rem; /* Adjust width for smaller screens if needed */
    }

    .menu-item {
        justify-content: center;
        border-radius: 0;
    }

    .menu-icon {
        margin-right: 0;
    }
}

/* For larger screens */
@media (min-width: 1301px) {
    .sidebar {
        width: 15rem; /* Maintain sidebar width for larger screens */
    }

    .content {
        margin-left: 15rem; /* Ensure content is pushed to the right */
    }

    .content.shifted {
        margin-left: 15rem;
    }
}
